<div class="container__big-card">

    <div class="big-card__photo">
      <img
        src="https://thecodinganalyst.github.io/assets/images/2020/04/IstanbulJs_Code_Coverage_Report.png"
        alt="Saiu a nova versão do Angular!"
        height="200px"
        srcset=""
      >
    </div>
  
    <div class="big-card__title">
      <h1><a [routerLink]="['content', Id]"> !lorem ipsum dolor sit amet, consectet</a></h1>
    </div>
  
    <div class="big-card__description">
      <p>
        <a [routerLink]="['content', Id]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere fugit iure commodi quos! Eum nisi expedita placeat natus optio consequatur vero ducimus at accusantium. Architecto labore vero praesentium quos! Perspiciatis.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit nam molestias, porro facere reiciendis nihil eos suscipit delectus consectetur dignissimos quos quaerat magnam ratione, hic amet debitis. Quam, culpa? Voluptate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ratione incidunt iusto necessitatibus voluptas placeat quas dolorum possimus nam, autem nostrum recusandae ipsa fuga corporis, neque laborum illum unde. Neque.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum recusandae tenetur reiciendis. Quis alias reiciendis voluptate illum, saepe eum repellat autem totam deserunt ipsum. Neque reiciendis delectus fugit cum rem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repudiandae sapiente molestiae fugit nesciunt qui. Consequatur accusantium, ipsum quaerat, laborum voluptatum at odio asperiores itaque perferendis corrupti voluptas officiis fugit?
        </a>
      </p>
    </div>
  
  </div>
